.Courselisttable{
    margin-top:25px;
    width: 1000px;
    height: 50px;
    margin-left: 320px;  
}

.Courselisttable th,
.Courselisttable td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  vertical-align: middle;
}

.heading-content {
    display: flex;
    align-items: center;
  }

.material-symbols-outlined {
    margin-left: 5px; /* Add some space between text and icon */
  }

  .badagebutton{
    cursor: pointer;
  }

  .custom-toggle::after {
    display: none !important;
  }

.bdageactvecolor{
    color: #ffff;
    background-color: #427d9d; 
}

.dropdown-item:hover {
  color: Black; /* Color change on hover */
  background-color: #d0e8f5 ;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}


.link {
  display: flex;
  align-items: center;
  width: 100%;
}

.material-symbols-outlined.icon {
  font-size: 20px;
  margin-right: 10px;
}

.text {
  display: inline-block;
}

